# Core
pyrogram==2.0.106

# PyTgCalls (install latest directly from GitHub to avoid PyPI conflicts)
git+https://github.com/pytgcalls/pytgcalls.git@master#egg=pytgcalls

# Audio processing
pydub
aiofiles
apscheduler
aiohttp==3.10.11
gTTS
dnspython==2.6.1
hachoir

# Heroku & MongoDB
heroku3
motor==3.4.0
pymongo

# Dependencies for Pyrogram
pyaes==1.6.1
pysocks==1.7.1
